.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 15px;
}
.pagination .page-num {
  padding: 10px 15px;

  /* background-color: grey; */
  /* color: #b95151; */
  border-radius: 5%;
}
.pagination .active {
  background-color: #b95151;
  color: white;
}
