.item-img {
  height: 400px;
  margin-bottom: 0.5rem;
  border-radius: 5px 5px 0 0;
}
.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.btn.modal-btn:hover {
  background-color: #4169e1;
}
textarea:focus,
input:focus {
  box-shadow: 3px 3px rgb(32, 38, 57) !important;
}
.form-control.add-comment {
  width: 85%;
  margin-left: 1rem;
}
