.hero-conent {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
.hero-btn {
  /* border-radius: 0 !important; */
}

.hero-conent {
  max-width: 70%;
  padding: 1rem;
}
@media (max-width: 575px) {
  .hero-conent h2 {
    font-size: 1rem !important;
    margin-bottom: 0.5rem !important;
  }
  .hero-conent .hero-btn {
    font-size: 0.75rem !important;
    padding: 0.2rem 1rem !important;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1rem !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .hero-conent h2 {
    font-size: 1.5rem !important;
    margin-bottom: 1rem !important;
  }
  .hero-conent .hero-btn {
    font-size: 1rem !important;
    padding: 0.5rem 2rem !important;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1.5rem !important;
  }
}
