body {
  font-family: "Tajawal", sans-serif !important;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
img {
  display: inline-block;
  width: 100%;
}
.input-style:focus {
  box-shadow: none !important;
  outline: none;
}
