body {
  font-family: "Tajawal", sans-serif !important;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.input-style:focus {
  box-shadow: none !important;
  outline: none;
}
.fixedBtn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 1;
}
