.user-profile-sections {
  min-width: 25% !important;
}
.user-profile-sections a {
  display: inline-block;
  width: 100%;
  padding: 1rem 1.25rem 1rem 3.25rem;
}
.user-profile-sections a:hover {
  background-color: #eee;
}
.user-profile-sections .active {
  background-color: #ddd;
}
